@import 'tailwindcss';
@import '@fontsource-variable/geist';
@import '@kusitms.com/ui/source.css';

body {
  margin: 0;
}

p {
  margin: 0;
}

@theme inline {
  --font-sans: 'Geist Variable', sans-serif;
}

@layer base {
  body {
    @apply bg-fill-normal text-label-normal;
  }
  html {
    @apply font-sans;
  }
}
